<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Software Developer who is beginning to establish myself in this field. I have found myself attracted to Python and Java as of late and I hve been focusing my efforts on refining my skills. <br><br>
			Currently I am working on a number of small personal projects while searching for a job in my field.
		</div>
		<br>
	</div>
</div>
